/* font family */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* common styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* individual styles */

header {
}

header nav {
  max-width: 1360px;
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.nav-menu a {
  font-size: 16px;
  line-height: 152%;
  color: #000000;
  text-decoration: none;
}

.nav-menu a:hover {
  font-size: 18px;
  font-weight: bold;
}

nav .nav-button {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #30b868;
  border: none;
  border-radius: 4px;
  padding: 12.5px 16px;
}

.nav-button:hover {
  color: #30b868;
  background-color: #ffffff;
  border: 1px solid #30b868;
  cursor: pointer;
}

header .banner-section {
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
}

.banner-section .banner-content {
  text-align: center;
  max-width: 1360px;
  margin: 0 auto;
  padding-top: 115.5px;
  padding-bottom: 179.5px;
}

.banner-content .banner-first-element {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 229px;
  margin: 0 auto;
  border-radius: 1000px;
  padding: 8px 12px;
  margin-bottom: 16px;
}

.banner-first-element .circle1 {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #30b86944;
}

.banner-first-element .circle2 {
  height: 12px;
  width: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #30b8697b;
  padding: 2px;
}

.banner-first-element .circle3 {
  height: 6px;
  width: 6px;
  border-radius: 8px;
  background-color: #30b868;
}

.banner-first-element p {
  font-size: 16px;
  font-weight: 500px;
  margin-left: 6px;
  color: #30b868;
}

.banner-content h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  margin-bottom: 16px;
}

.banner-content .heading-1 {
  color: #ffffff;
}

.banner-content .heading-2 {
  color: #30b868;
}

.banner-content .hero-para {
  font-size: 18px;
  font-weight: 300;
  line-height: 34px;
  color: #ffffff;
  margin-bottom: 32px;
}

.banner-content .hero-btn {
  max-width: 465px;
  margin: 0 auto;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-btn .btn1 {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #30b868;
  padding: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
}

.btn1:hover {
  cursor: pointer;
  border: 1px solid white;
  box-shadow: 5px 5px 10px 1px rgba(42, 223, 181, 0.407);
}

.hero-btn .btn2 {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: transparent;
  padding: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #ffffff;
}

.btn2:hover {
  cursor: pointer;
  border: 1px solid #30b868;
  box-shadow: 5px 5px 10px 1px rgba(42, 223, 181, 0.407);
}

.notes-content {
  max-width: 1360px;
  height: 448px;
  margin: 0 auto;
  margin-top: 70px;
  text-align: center;
}

.notes-content h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}

.notes-content p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

.notes-content-p {
  margin-bottom: 44px;
}

.notes-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.notes-cards .card {
  max-width: 322px;
  max-height: 300px;
  padding: 69.5px 24px;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 #0000001b;
}

.card img {
  background-color: #f95555;
  color: #ffffff;
  border-radius: 100%;
  padding: 10px;
  margin-bottom: 16px;
}

.card h5 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 16px;
}

.second-brain-section {
  padding: 120px;
}

.second-brain-section .second-brain-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.second-brain-text .sub-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #30b868;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.second-brain-text h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}

.second-brain-text .second-brain-para {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}

.second-brain-text ul li {
  list-style: none;
  display: flex;
  text-align: center;
  gap: 6px;
  margin-bottom: 16px;
}

.second-brain-text ul li p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #001931;
}

.early-access-section {
  padding: 120px;
  padding-top: 0px;
}

.early-access-content {
  background-color: #f7f6f2;
  border: none;
  border-radius: 12px;
  padding: 80px 40px;
  text-align: center;
}

.early-access-content h2 {
  font-size: 40px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}

.early-access-content .sub-title {
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  margin-bottom: 24px;
}

.early-access-content .btn1 {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #30b868;
  border: none;
  border-radius: 4px;
  gap: 10px;
  margin-bottom: 16px;
  box-shadow: 0 10px 20px 0 #0000002f;
}

.early-access-content .btn1:hover {
  cursor: pointer;
  background-color: #001931;
  box-shadow: 5px 5px 10px 5px #0019312a;
}

.early-access-footer {
  font-weight: 16px;
  line-height: 20px;
  color: #627382;
}

footer {
  background-color: #001931;
  padding: 120px;
  padding-bottom: 30px;
}

.footer-content .footer-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 84px;
}

.footer-text .footer-links {
  max-width: 220px;
}

.footer-links p {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-links .social-links {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 16px;
  color: #ffffff;
  padding-right: 107px;
}

.social-links a {
  height: 20px;
  width: 20px;
  padding: 4.12px 4.25px;
  border-radius: 100px;
  text-decoration: none;
  color: none;
  color: #ffffff;
}

.footer-content hr {
  border: none;
  height: 1px;
  background-color: #62738259;
  margin-bottom: 30px;
}

.footer-content .copyright {
  font-size: 16px;
  line-height: 24px;
  color: #fafafa;
  text-align: center;
}
